:root {
  --neutral: #232946;
  --base-100: #fffffe;
  --neutral-focus: #121629;
  --primary: #eebbc3;
  --accent: #d4d8f0;
  --secondary: #b8c1ec;
  
}

* {
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-color: var(--neutral);
}

#welcome-section h1 {
  font-size: 6rem;
}

#navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--neutral);
  padding: 20px 0;
  font-size: 7rem;
  border-bottom: 1px solid var(--neutral-focus);
}

.nav-links {
  display: flex;
  list-style: none;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  padding: 0 15px;
  color: var(--base-100);
}

.nav-links a:hover {
  text-decoration: underline;
}

.welcome-section {
  padding: 100px 30px 30px 100px;
}

section {
  min-height: 100vh;
  padding: 70px 0;
}

#welcome-section {
  background-color: var(--neutral);
  color: var(--base-100);
  display: flex;
  flex-direction: column;
}

#welcome-section h1 {
  margin-top: 30vh;
}

#welcome-section p {
  color: var(--accent);
  font-size: 25px;
  margin: 25px 0;
  font-style: italic;
}

#projects {
  background-color: var(--secondary);
  color: var(--neutral);
}

#projects h1 {
  border-bottom: 5px solid var(--neutral);
  font-size: 6vh;
  width: fit-content;
  margin: auto;
}

#projects .projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  padding: 20px;
  place-items: center;
  max-width: 1200px;
  margin: auto;
}

#projects .project-tile {
  height: 525px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--neutral);
  text-decoration: none;
  color: var(--accent);
  border-radius: 5px;
  box-shadow: 8px 8px 10px 5px rgba(100, 100, 100, 0.4);
}

#projects .project-tile img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#projects .project-tile p {
  font-size: 25px;
  padding: 10px;
}

#projects .project-tile span {
  opacity: 0%;
  padding: 0 5px;
}

#projects .project-tile:hover span {
  opacity: 100%;
  padding: var(--primary);
  transition: opacity 0.25s ease-in;
}

.show-all {
  text-decoration: none;
  width: max-content;
  display: flex;
  align-items: center;
  margin: auto;
  padding: 0px 15px;
  background-color: var(--neutral);
  color: var(--accent);
  font-size: 25px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

.show-all:hover {
  background-color: var(--neutral-focus);
  color: var(--base-100);
}

#contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--neutral);
  color: var(--base-100);
  margin: 10px 0;
  padding: 0;
  height: 100vh;
}

#contact h1 {
  font-size: 6rem;
}

#contact-text{
  margin-top: 150px;
}

#contact .coffee-question {
  color: var(--accent);
  font-size: 25px;
  font-style: italic;
}

#contact .social-medias {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  width: 100%;
  justify-content: space-around;
  margin: auto;
  margin-top: 100px;
}

#contact .social-media {
  text-decoration: none;
  color: var(--base-100);
  transition: transform 0.2s ease-in;
  font-size: 2.2rem;
  text-align: center;
}

#contact .social-media:hover {
  transform: translateY(10px)
}

footer {
  display: flex;
  justify-content: center;
  border-top: 3px solid var(--primary);
  color: var(--base-100);
  font-size: 2rem;
  padding: 30px;
}

@media all and (width < 700px) {
  h1 {
    font-size: 1rem;
  }
  #projects .projects-tile {
    height: 600px;
    width: 100%;
  }

  #contact .social-medias p {
    display: none;
  }
  }
